.applicationRight {
  float: right;
}

.lineEllipsis {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  // height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
}

.badgeIcon {
  margin-right: 10px;

  span {
    margin-left: 3px;
    font-size: 12px;
  }
}

.pStyle {
  margin-bottom: 0;
  padding: 0;
  font-weight: 600;
  font-size: 12px;
}

.bottomSpace {
  margin-bottom: 20px;
}

.search {
  position: relative;
  margin-right: 62px;

  .searchButton {
    position: absolute;
    top: 0;
    right: -62px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.createDescribe {
  height: 90px;
}

.applicationCart {
  position: relative;

  .cardExtra {
    position: absolute;
    top: 20px;
    right: 15px;
  }

  .cardTitle {
    margin-left: 8px;
  }

  .cardFoot {
    position: absolute;
    bottom: 0;
    padding: 10px 0;
  }

  .cardTime {
    position: absolute;
    right: 20px;
    bottom: 0;
    font-size: 12px;
  }
}
