.contentWrapper {
  margin-top: 50px;
}
.tableTopHeader {
  height: 45px;
  .Search {
    position: absolute;
    right: 25px;
    width: 300px;
  }
}
.badgeIcon {
  margin-right: 10px;

  span {
    margin-left: 3px;
    font-size: 12px;
  }
}
