.contentWrapper {
  margin-top: 50px;
}

.tableTopHeader {
  height: 45px;

  .headerRight {
    text-align: right;
  }

  .Search {
    width: 300px;
  }
}

.operateMenu {
  font-size: 14px;

  i:hover {
    color: #1890ff;
  }
}

.badgeIcon {
  margin-right: 10px;

  span {
    margin-left: 3px;
    font-size: 12px;
  }
}

.filterButton {
  text-align: center;
  border-top: 1px solid #e8e8e8;
}

//新建
.serviceInfo {
  margin-top: 15px;

  h3 {
    color: #a89290;
  }
}

.filterSearch {
  :global(.ant-input) {
    border-bottom: none;
    border-radius: 0;
  }
}

// 被选中的表格行的样式
.activeRow {
  background-color: #fffbe6;
}

// 配置
.titleConfigId {
  position: absolute;
  top: 17px;
  left: 153px;
  color: #94755f;
}

.addProperty {
  float: right;
  margin-bottom: 14px;
  font-size: 25px;
  cursor: pointer;
}

.tooltip {
  position: relative;
  width: 100%;

  .tooltipIcon {
    position: absolute;
    top: 5px;
    right: 0;
  }
}

.noData {
  color: #999;
}
