@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?daqe9b');
  src:  url('fonts/icomoon.eot?daqe9b#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?daqe9b') format('truetype'),
    url('fonts/icomoon.woff?daqe9b') format('woff'),
    url('fonts/icomoon.svg?daqe9b#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-account-book:before {
  content: "\e900";
}
.icon-alert:before {
  content: "\e901";
}
.icon-alibaba:before {
  content: "\e902";
}
.icon-align-center:before {
  content: "\e903";
}
.icon-align-left:before {
  content: "\e904";
}
.icon-align-right:before {
  content: "\e905";
}
.icon-alipay:before {
  content: "\e906";
}
.icon-alipay-circle:before {
  content: "\e907";
}
.icon-aliwangwang:before {
  content: "\e908";
}
.icon-aliyun:before {
  content: "\e909";
}
.icon-amazon:before {
  content: "\e90a";
}
.icon-android:before {
  content: "\e90b";
}
.icon-ant-cloud:before {
  content: "\e90c";
}
.icon-ant-design:before {
  content: "\e90d";
}
.icon-apartment:before {
  content: "\e90e";
}
.icon-api:before {
  content: "\e90f";
}
.icon-apple:before {
  content: "\e910";
}
.icon-appstore:before {
  content: "\e911";
}
.icon-area-chart:before {
  content: "\e912";
}
.icon-arrow-down:before {
  content: "\e913";
}
.icon-arrow-left:before {
  content: "\e914";
}
.icon-arrow-right:before {
  content: "\e915";
}
.icon-arrows-alt:before {
  content: "\e916";
}
.icon-arrow-up:before {
  content: "\e917";
}
.icon-audio:before {
  content: "\e918";
}
.icon-audit:before {
  content: "\e919";
}
.icon-backward:before {
  content: "\e91a";
}
.icon-bank:before {
  content: "\e91b";
}
.icon-bar-chart:before {
  content: "\e91c";
}
.icon-barcode:before {
  content: "\e91d";
}
.icon-bars:before {
  content: "\e91e";
}
.icon-behance:before {
  content: "\e91f";
}
.icon-behance-square:before {
  content: "\e920";
}
.icon-bell:before {
  content: "\e921";
}
.icon-bg-colors:before {
  content: "\e922";
}
.icon-block:before {
  content: "\e923";
}
.icon-bold:before {
  content: "\e924";
}
.icon-book:before {
  content: "\e925";
}
.icon-border:before {
  content: "\e926";
}
.icon-border-bottom:before {
  content: "\e927";
}
.icon-border-horizontal:before {
  content: "\e928";
}
.icon-border-inner:before {
  content: "\e929";
}
.icon-border-left:before {
  content: "\e92a";
}
.icon-border-outer:before {
  content: "\e92b";
}
.icon-border-right:before {
  content: "\e92c";
}
.icon-border-top:before {
  content: "\e92d";
}
.icon-border-verticle:before {
  content: "\e92e";
}
.icon-box-plot:before {
  content: "\e92f";
}
.icon-branches:before {
  content: "\e930";
}
.icon-build:before {
  content: "\e931";
}
.icon-bulb:before {
  content: "\e932";
}
.icon-calculator:before {
  content: "\e933";
}
.icon-calendar:before {
  content: "\e934";
}
.icon-camera:before {
  content: "\e935";
}
.icon-car:before {
  content: "\e936";
}
.icon-caret-down:before {
  content: "\e937";
}
.icon-caret-left:before {
  content: "\e938";
}
.icon-caret-right:before {
  content: "\e939";
}
.icon-caret-up:before {
  content: "\e93a";
}
.icon-carry-out:before {
  content: "\e93b";
}
.icon-check:before {
  content: "\e93c";
}
.icon-check-circle:before {
  content: "\e93d";
}
.icon-check-square:before {
  content: "\e93e";
}
.icon-chrome:before {
  content: "\e93f";
}
.icon-ci:before {
  content: "\e940";
}
.icon-clock-circle:before {
  content: "\e941";
}
.icon-close:before {
  content: "\e942";
}
.icon-close-circle:before {
  content: "\e943";
}
.icon-close-square:before {
  content: "\e944";
}
.icon-cloud:before {
  content: "\e945";
}
.icon-cloud-download:before {
  content: "\e946";
}
.icon-cloud-server:before {
  content: "\e947";
}
.icon-cloud-sync:before {
  content: "\e948";
}
.icon-cloud-upload:before {
  content: "\e949";
}
.icon-cluster:before {
  content: "\e94a";
}
.icon-code:before {
  content: "\e94b";
}
.icon-codepen:before {
  content: "\e94c";
}
.icon-codepen-circle:before {
  content: "\e94d";
}
.icon-code-sandbox:before {
  content: "\e94e";
}
.icon-coffee:before {
  content: "\e94f";
}
.icon-colum-height:before {
  content: "\e950";
}
.icon-column-width:before {
  content: "\e951";
}
.icon-compass:before {
  content: "\e952";
}
.icon-contacts:before {
  content: "\e953";
}
.icon-container:before {
  content: "\e954";
}
.icon-control:before {
  content: "\e955";
}
.icon-copy:before {
  content: "\e956";
}
.icon-copyright:before {
  content: "\e957";
}
.icon-credit-card:before {
  content: "\e958";
}
.icon-crown:before {
  content: "\e959";
}
.icon-customer-service:before {
  content: "\e95a";
}
.icon-dash:before {
  content: "\e95b";
}
.icon-dashboard:before {
  content: "\e95c";
}
.icon-database:before {
  content: "\e95d";
}
.icon-delete:before {
  content: "\e95e";
}
.icon-deployment-unit:before {
  content: "\e95f";
}
.icon-desktop:before {
  content: "\e960";
}
.icon-diff:before {
  content: "\e961";
}
.icon-dingding:before {
  content: "\e962";
}
.icon-disconnect:before {
  content: "\e963";
}
.icon-dislike:before {
  content: "\e964";
}
.icon-dollar:before {
  content: "\e965";
}
.icon-dot-chart:before {
  content: "\e966";
}
.icon-double-left:before {
  content: "\e967";
}
.icon-double-right:before {
  content: "\e968";
}
.icon-down:before {
  content: "\e969";
}
.icon-down-circle:before {
  content: "\e96a";
}
.icon-download:before {
  content: "\e96b";
}
.icon-down-square:before {
  content: "\e96c";
}
.icon-drag:before {
  content: "\e96d";
}
.icon-dribbble:before {
  content: "\e96e";
}
.icon-dribbble-square:before {
  content: "\e96f";
}
.icon-dropbox:before {
  content: "\e970";
}
.icon-edit:before {
  content: "\e971";
}
.icon-ellipsis:before {
  content: "\e972";
}
.icon-enter:before {
  content: "\e973";
}
.icon-environment:before {
  content: "\e974";
}
.icon-euro:before {
  content: "\e975";
}
.icon-exception:before {
  content: "\e976";
}
.icon-exclamation:before {
  content: "\e977";
}
.icon-exclamation-circle:before {
  content: "\e978";
}
.icon-experiment:before {
  content: "\e979";
}
.icon-export:before {
  content: "\e97a";
}
.icon-eye:before {
  content: "\e97b";
}
.icon-eye-invisible:before {
  content: "\e97c";
}
.icon-facebook:before {
  content: "\e97d";
}
.icon-fall:before {
  content: "\e97e";
}
.icon-fast-backward:before {
  content: "\e97f";
}
.icon-fast-forward:before {
  content: "\e980";
}
.icon-file:before {
  content: "\e981";
}
.icon-file-add:before {
  content: "\e982";
}
.icon-file-done:before {
  content: "\e983";
}
.icon-file-excel:before {
  content: "\e984";
}
.icon-file-exclamation:before {
  content: "\e985";
}
.icon-file-image:before {
  content: "\e986";
}
.icon-file-jpg:before {
  content: "\e987";
}
.icon-file-markdown:before {
  content: "\e988";
}
.icon-file-pdf:before {
  content: "\e989";
}
.icon-file-ppt:before {
  content: "\e98a";
}
.icon-file-protect:before {
  content: "\e98b";
}
.icon-file-search:before {
  content: "\e98c";
}
.icon-file-sync:before {
  content: "\e98d";
}
.icon-file-text:before {
  content: "\e98e";
}
.icon-file-unknown:before {
  content: "\e98f";
}
.icon-file-word:before {
  content: "\e990";
}
.icon-file-zip:before {
  content: "\e991";
}
.icon-filter:before {
  content: "\e992";
}
.icon-fire:before {
  content: "\e993";
}
.icon-flag:before {
  content: "\e994";
}
.icon-folder:before {
  content: "\e995";
}
.icon-folder-add:before {
  content: "\e996";
}
.icon-folder-open:before {
  content: "\e997";
}
.icon-font-colors:before {
  content: "\e998";
}
.icon-font-size:before {
  content: "\e999";
}
.icon-fork:before {
  content: "\e99a";
}
.icon-form:before {
  content: "\e99b";
}
.icon-forward:before {
  content: "\e99c";
}
.icon-frown:before {
  content: "\e99d";
}
.icon-fullscreen:before {
  content: "\e99e";
}
.icon-fullscreen-exit:before {
  content: "\e99f";
}
.icon-fund:before {
  content: "\e9a0";
}
.icon-funnel-plot:before {
  content: "\e9a1";
}
.icon-gateway:before {
  content: "\e9a2";
}
.icon-gift:before {
  content: "\e9a3";
}
.icon-github:before {
  content: "\e9a4";
}
.icon-gitlab:before {
  content: "\e9a5";
}
.icon-global:before {
  content: "\e9a6";
}
.icon-gold:before {
  content: "\e9a7";
}
.icon-google:before {
  content: "\e9a8";
}
.icon-google-plus:before {
  content: "\e9a9";
}
.icon-hdd:before {
  content: "\e9aa";
}
.icon-heart:before {
  content: "\e9ab";
}
.icon-heat-map:before {
  content: "\e9ac";
}
.icon-highlight:before {
  content: "\e9ad";
}
.icon-home:before {
  content: "\e9ae";
}
.icon-hourglass:before {
  content: "\e9af";
}
.icon-html5:before {
  content: "\e9b0";
}
.icon-idcard:before {
  content: "\e9b1";
}
.icon-ie:before {
  content: "\e9b2";
}
.icon-import:before {
  content: "\e9b3";
}
.icon-inbox:before {
  content: "\e9b4";
}
.icon-info:before {
  content: "\e9b5";
}
.icon-info-circle:before {
  content: "\e9b6";
}
.icon-instagram:before {
  content: "\e9b7";
}
.icon-insurance:before {
  content: "\e9b8";
}
.icon-interation:before {
  content: "\e9b9";
}
.icon-issues-close:before {
  content: "\e9ba";
}
.icon-italic:before {
  content: "\e9bb";
}
.icon-key:before {
  content: "\e9bc";
}
.icon-laptop:before {
  content: "\e9bd";
}
.icon-layout:before {
  content: "\e9be";
}
.icon-left:before {
  content: "\e9bf";
}
.icon-left-circle:before {
  content: "\e9c0";
}
.icon-left-square:before {
  content: "\e9c1";
}
.icon-like:before {
  content: "\e9c2";
}
.icon-line:before {
  content: "\e9c3";
}
.icon-line-chart:before {
  content: "\e9c4";
}
.icon-line-height:before {
  content: "\e9c5";
}
.icon-link:before {
  content: "\e9c6";
}
.icon-linkedin:before {
  content: "\e9c7";
}
.icon-loading:before {
  content: "\e9c8";
}
.icon-loading-3-quarters:before {
  content: "\e9c9";
}
.icon-lock:before {
  content: "\e9ca";
}
.icon-login:before {
  content: "\e9cb";
}
.icon-logout:before {
  content: "\e9cc";
}
.icon-mail:before {
  content: "\e9cd";
}
.icon-man:before {
  content: "\e9ce";
}
.icon-medicine-box:before {
  content: "\e9cf";
}
.icon-medium:before {
  content: "\e9d0";
}
.icon-medium-workmark:before {
  content: "\e9d1";
}
.icon-meh:before {
  content: "\e9d2";
}
.icon-menu:before {
  content: "\e9d3";
}
.icon-menu-fold:before {
  content: "\e9d4";
}
.icon-menu-unfold:before {
  content: "\e9d5";
}
.icon-message:before {
  content: "\e9d6";
}
.icon-minus:before {
  content: "\e9d7";
}
.icon-minus-circle:before {
  content: "\e9d8";
}
.icon-minus-square:before {
  content: "\e9d9";
}
.icon-mobile:before {
  content: "\e9da";
}
.icon-money-collect:before {
  content: "\e9db";
}
.icon-monitor:before {
  content: "\e9dc";
}
.icon-more:before {
  content: "\e9dd";
}
.icon-mr:before {
  content: "\e9de";
}
.icon-notification:before {
  content: "\e9df";
}
.icon-number:before {
  content: "\e9e0";
}
.icon-ordered-list:before {
  content: "\e9e1";
}
.icon-paper-clip:before {
  content: "\e9e2";
}
.icon-pause:before {
  content: "\e9e3";
}
.icon-pause-circle:before {
  content: "\e9e4";
}
.icon-pay-circle:before {
  content: "\e9e5";
}
.icon-percentage:before {
  content: "\e9e6";
}
.icon-phone:before {
  content: "\e9e7";
}
.icon-pic-center:before {
  content: "\e9e8";
}
.icon-pic-left:before {
  content: "\e9e9";
}
.icon-pic-right:before {
  content: "\e9ea";
}
.icon-picture:before {
  content: "\e9eb";
}
.icon-pie-chart:before {
  content: "\e9ec";
}
.icon-play-circle:before {
  content: "\e9ed";
}
.icon-play-square:before {
  content: "\e9ee";
}
.icon-plus:before {
  content: "\e9ef";
}
.icon-plus-circle:before {
  content: "\e9f0";
}
.icon-plus-square:before {
  content: "\e9f1";
}
.icon-pound:before {
  content: "\e9f2";
}
.icon-poweroff:before {
  content: "\e9f3";
}
.icon-printer:before {
  content: "\e9f4";
}
.icon-profile:before {
  content: "\e9f5";
}
.icon-project:before {
  content: "\e9f6";
}
.icon-property-safety:before {
  content: "\e9f7";
}
.icon-pushpin:before {
  content: "\e9f8";
}
.icon-qq:before {
  content: "\e9f9";
}
.icon-qrcode:before {
  content: "\e9fa";
}
.icon-question:before {
  content: "\e9fb";
}
.icon-question-circle:before {
  content: "\e9fc";
}
.icon-radar-chart:before {
  content: "\e9fd";
}
.icon-radius-bottomleft:before {
  content: "\e9fe";
}
.icon-radius-bottomright:before {
  content: "\e9ff";
}
.icon-radius-setting:before {
  content: "\ea00";
}
.icon-radius-upleft:before {
  content: "\ea01";
}
.icon-radius-upright:before {
  content: "\ea02";
}
.icon-read:before {
  content: "\ea03";
}
.icon-reconciliation:before {
  content: "\ea04";
}
.icon-reddit:before {
  content: "\ea05";
}
.icon-red-envelope:before {
  content: "\ea06";
}
.icon-redo:before {
  content: "\ea07";
}
.icon-reload:before {
  content: "\ea08";
}
.icon-reload-time:before {
  content: "\ea09";
}
.icon-rest:before {
  content: "\ea0a";
}
.icon-retweet:before {
  content: "\ea0b";
}
.icon-right:before {
  content: "\ea0c";
}
.icon-right-circle:before {
  content: "\ea0d";
}
.icon-right-square:before {
  content: "\ea0e";
}
.icon-rise:before {
  content: "\ea0f";
}
.icon-robot:before {
  content: "\ea10";
}
.icon-rocket:before {
  content: "\ea11";
}
.icon-rollback:before {
  content: "\ea12";
}
.icon-safety:before {
  content: "\ea13";
}
.icon-safety-certificate:before {
  content: "\ea14";
}
.icon-save:before {
  content: "\ea15";
}
.icon-scan:before {
  content: "\ea16";
}
.icon-schedule:before {
  content: "\ea17";
}
.icon-scissor:before {
  content: "\ea18";
}
.icon-search:before {
  content: "\ea19";
}
.icon-security-scan:before {
  content: "\ea1a";
}
.icon-select:before {
  content: "\ea1b";
}
.icon-setting:before {
  content: "\ea1c";
}
.icon-shake:before {
  content: "\ea1d";
}
.icon-share-alt:before {
  content: "\ea1e";
}
.icon-shop:before {
  content: "\ea1f";
}
.icon-shopping:before {
  content: "\ea20";
}
.icon-shopping-cart:before {
  content: "\ea21";
}
.icon-shrink:before {
  content: "\ea22";
}
.icon-sketch:before {
  content: "\ea23";
}
.icon-skin:before {
  content: "\ea24";
}
.icon-skype:before {
  content: "\ea25";
}
.icon-slack:before {
  content: "\ea26";
}
.icon-slack-square:before {
  content: "\ea27";
}
.icon-sliders:before {
  content: "\ea28";
}
.icon-small-dash:before {
  content: "\ea29";
}
.icon-smile:before {
  content: "\ea2a";
}
.icon-snippets:before {
  content: "\ea2b";
}
.icon-solution:before {
  content: "\ea2c";
}
.icon-sort-ascending:before {
  content: "\ea2d";
}
.icon-sort-descending:before {
  content: "\ea2e";
}
.icon-sound:before {
  content: "\ea2f";
}
.icon-star:before {
  content: "\ea30";
}
.icon-step-backward:before {
  content: "\ea31";
}
.icon-step-forward:before {
  content: "\ea32";
}
.icon-stock:before {
  content: "\ea33";
}
.icon-stop:before {
  content: "\ea34";
}
.icon-strikethrough:before {
  content: "\ea35";
}
.icon-swap:before {
  content: "\ea36";
}
.icon-swap-left:before {
  content: "\ea37";
}
.icon-swap-right:before {
  content: "\ea38";
}
.icon-switcher:before {
  content: "\ea39";
}
.icon-sync:before {
  content: "\ea3a";
}
.icon-table:before {
  content: "\ea3b";
}
.icon-tablet:before {
  content: "\ea3c";
}
.icon-tag:before {
  content: "\ea3d";
}
.icon-tags:before {
  content: "\ea3e";
}
.icon-taobao:before {
  content: "\ea3f";
}
.icon-taobao-circle:before {
  content: "\ea40";
}
.icon-team:before {
  content: "\ea41";
}
.icon-thunderbolt:before {
  content: "\ea42";
}
.icon-tool:before {
  content: "\ea43";
}
.icon-to-top:before {
  content: "\ea44";
}
.icon-trademark:before {
  content: "\ea45";
}
.icon-transaction:before {
  content: "\ea46";
}
.icon-trophy:before {
  content: "\ea47";
}
.icon-twitter:before {
  content: "\ea48";
}
.icon-underline:before {
  content: "\ea49";
}
.icon-undo:before {
  content: "\ea4a";
}
.icon-unlock:before {
  content: "\ea4b";
}
.icon-unordered-list:before {
  content: "\ea4c";
}
.icon-up:before {
  content: "\ea4d";
}
.icon-up-circle:before {
  content: "\ea4e";
}
.icon-upload:before {
  content: "\ea4f";
}
.icon-up-square:before {
  content: "\ea50";
}
.icon-usb:before {
  content: "\ea51";
}
.icon-user:before {
  content: "\ea52";
}
.icon-user-add:before {
  content: "\ea53";
}
.icon-user-delete:before {
  content: "\ea54";
}
.icon-usergroup-add:before {
  content: "\ea55";
}
.icon-usergroup-delete:before {
  content: "\ea56";
}
.icon-vertical-align-bottom:before {
  content: "\ea57";
}
.icon-vertical-align-middle:before {
  content: "\ea58";
}
.icon-vertical-align-top:before {
  content: "\ea59";
}
.icon-vertical-left:before {
  content: "\ea5a";
}
.icon-vertical-right:before {
  content: "\ea5b";
}
.icon-video-camera:before {
  content: "\ea5c";
}
.icon-wallet:before {
  content: "\ea5d";
}
.icon-warning:before {
  content: "\ea5e";
}
.icon-wechat:before {
  content: "\ea5f";
}
.icon-weibo:before {
  content: "\ea60";
}
.icon-weibo-circle:before {
  content: "\ea61";
}
.icon-weibo-square:before {
  content: "\ea62";
}
.icon-wifi:before {
  content: "\ea63";
}
.icon-windows:before {
  content: "\ea64";
}
.icon-woman:before {
  content: "\ea65";
}
.icon-yahoo:before {
  content: "\ea66";
}
.icon-youtube:before {
  content: "\ea67";
}
.icon-yuque:before {
  content: "\ea68";
}
.icon-zhihu:before {
  content: "\ea69";
}
.icon-zoom-in:before {
  content: "\ea6a";
}
.icon-zoom-out:before {
  content: "\ea6b";
}
